
/* Duplicate the input styles to the wrapper and unstyle the input
 * This is quite ugly, but so was the alternative
 **/
 .add-clock-form .dropdown-wrapper {
    min-width: 20px;
    height: var(--form-field-height);
    background: rgba(0, 0, 0, 0.05);
    padding: 1px 3px;
    margin: 0;
    border: 1px solid var(--color-border-light-tertiary);
    border-radius: 3px;
}

.add-clock-form .dropdown-wrapper:focus-within { 
    box-shadow: 0 0 5px var(--color-shadow-primary);
}

.add-clock-form .dropdown-wrapper input {
    width: 100%;
    height: 100%;

    border: 0;
    padding: 0;
    margin: 0;

    background: none;
    box-shadow: none;
}

.add-clock-form .dropdown-wrapper .dropdown {
    /* Position the dropdown with regards to the wrapper padding and border */
    margin: 2px 0 0 -4px;
    padding: 0;

    position: absolute;

    /* Percentages are relative to the entire dialogue box, so a fixed size is needed */
    width: 100px;

    background: url(../../../ui/parchment.jpg) repeat;

    border-radius: 3px;
    border-color: var(--color-border-light-tertiary);
    border-style: solid;
    border-width: 1px;

    list-style-type: none;
}

.add-clock-form .dropdown-wrapper:not(:focus-within) .dropdown {
    display: none;
}

.add-clock-form .dropdown-wrapper .dropdown li {
    border-color: var(--color-border-light-tertiary);
    border-style: solid;
    border-width: 0 0 1px 0;

    padding: 2px 0;

    text-align: center;
}

.add-clock-form .dropdown-wrapper .dropdown li:hover {
    background: rgb(0, 0, 0, 0.05);
}

.add-clock-form .dropdown-wrapper .dropdown li:last-child {
    border: 0;
}