@layer modules {
    .global-progress-clocks {
        a[data-action="reset-property"] {
            flex: 0 0 min-content;
        }
    
        .clock-types {
            th {
                padding-left: 0.25rem;
                text-align: left;
            }
            
            td.color {
                align-items: center;
                display: flex;
                input {
                    margin: 0;
                }
                input.color {
                    width: 8ch;
                }
            }
            
            .controls {
                width: 1.75rem;
                text-align: right;
                padding-right: 0.25rem;
            }
        }
    }    
}
