.clock-panel {
    position: absolute;
    top: 5px;
    right: 0;
}

.clock-panel.bottom {
    top: unset;
    bottom: 10px;
}

.clock-panel.editable {
    pointer-events: initial;
}

.clock-panel, .clock-panel .clock-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: end;
}

/** Make button go above */
.clock-panel.bottom {
    flex-direction: column-reverse;
}

.clock-panel .drag-preview {
    outline: 1px solid white;
}

.clock-panel .drag-gap {
    visibility: hidden;
}

.clock-panel .controls a {
    display: none;
    padding: 2px;
}

.clock-panel .clock-entry:hover a {
    display: inline;
}

.clock-panel .clock-entry, .clock-panel [data-action=add-clock] {
    background: rgba(15, 15, 15, 0.7);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    color: white;
}

.clock-panel [data-action=add-clock] {
    border-radius: 5px;
    padding: 4px 6px;
    margin-right: 4px;
}

.clock-panel .clock-entry {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    height: 44px;
    border-radius: 5px 22px 22px 5px;
}

.clock-panel .controls {
    display: flex;
    font-size: 0.9em;
    align-items: center;
}

.clock-panel .name-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    padding: 0 4px 2px 8px;
    overflow-y: hidden;
}

.clock-panel .clock-entry .name {
    cursor: initial;
    min-width: 120px;
    text-align: end;
}

.clock-panel .clock-entry .clock {
    cursor: pointer;
    width: 44px;
    height: 44px;

    --spoke-width: 2px;

    align-self: center;
    aspect-ratio: 1 / 1;

    --filled-ratio: calc(var(--filled) / var(--areas) * 1turn);
    background: conic-gradient(var(--clock-color) var(--filled-ratio), white var(--filled-ratio) 1turn);
    border-radius: 50%;
    border: black var(--spoke-width) solid;

    position: relative;
}

.clock-panel .clock-entry .clock .spoke {
    width: var(--spoke-width);

    /* Make the spokes slightly larger than the inner radius so they overlay half the outer border, preventing subpixel gaps */
    height: calc(50% + .5 * var(--spoke-width));

    top: calc(-.5 * var(--spoke-width));
    right: calc(50% - var(--spoke-width) / 2);

    background: black;
    position: absolute;

    transform-origin: center bottom;
    transform: rotate(calc((var(--index) * 1turn) / var(--areas)));
}

/* Duplicate the input styles to the wrapper and unstyle the input
 * This is quite ugly, but so was the alternative
 **/
.add-clock-form .dropdown-wrapper {
    min-width: 20px;
    height: var(--form-field-height);
    background: rgba(0, 0, 0, 0.05);
    padding: 1px 3px;
    margin: 0;
    border: 1px solid var(--color-border-light-tertiary);
    border-radius: 3px;
}

.add-clock-form .dropdown-wrapper:focus-within { 
    box-shadow: 0 0 5px var(--color-shadow-primary);
}

.add-clock-form .dropdown-wrapper input {
    width: 100%;
    height: 100%;

    border: 0;
    padding: 0;
    margin: 0;

    background: none;
    box-shadow: none;
}

.add-clock-form .dropdown-wrapper .dropdown {
    /* Position the dropdown with regards to the wrapper padding and border */
    margin: 2px 0 0 -4px;
    padding: 0;

    position: absolute;

    /* Percentages are relative to the entire dialogue box, so a fixed size is needed */
    width: 100px;

    background: url(../../../ui/parchment.jpg) repeat;

    border-radius: 3px;
    border-color: var(--color-border-light-tertiary);
    border-style: solid;
    border-width: 1px;

    list-style-type: none;
}

.add-clock-form .dropdown-wrapper:not(:focus-within) .dropdown {
    display: none;
}

.add-clock-form .dropdown-wrapper .dropdown li {
    border-color: var(--color-border-light-tertiary);
    border-style: solid;
    border-width: 0 0 1px 0;

    padding: 2px 0;

    text-align: center;
}

.add-clock-form .dropdown-wrapper .dropdown li:hover {
    background: rgb(0, 0, 0, 0.05);
}

.add-clock-form .dropdown-wrapper .dropdown li:last-child {
    border: 0;
}
