.clock-panel {
    position: absolute;
    top: calc(5px + var(--offset));
    right: 0;
    max-width: fit-content;
}

.clock-panel.bottom {
    top: unset;
    bottom: calc(10px + var(--offset));
}

.clock-panel.editable {
    pointer-events: initial;
}

.clock-panel, .clock-panel .clock-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: end;
    width: 100%;
}

.clock-panel .drag-preview {
    outline: 1px solid white;
}

.clock-panel .drag-gap {
    visibility: hidden;
}

.clock-panel .clock-entry:hover .controls.clock-controls {
    visibility: visible;
}

.clock-panel .clock-entry, .clock-panel .controls.list-controls a {
    border: 1px solid black;
    background: rgba(15, 15, 15, 0.7);
    box-shadow: 0 0 8px inset rgb(255 255 255 / 25%);
    color: white;
}

.clock-entry.private {
    box-shadow: 0 0 8px inset #8a50ffc4;
}

.clock-panel .clock-entry {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    height: 44px;
    border-radius: 5px 22px 22px 5px;
}

.clock-panel .controls {
    display: flex;
    flex-wrap: nowrap;
    font-size: 0.9em;
    align-items: center;
    justify-content: space-evenly;
}

.clock-panel .controls.clock-controls {
    visibility: hidden;
    flex-direction: column;
    width: 1.25rem;
    height: 2.5rem;
}

.clock-panel .controls.list-controls a {
    border-radius: 5px;
    padding: 4px 6px;
    margin-right: 4px;
}

.clock-panel .clock-entry .name {
    cursor: initial;
    text-align: center;
    margin: auto;
    min-width: 112px;
    padding: 0 0.75rem 0 0.25rem;
}

.clock-panel .clock-entry .name i {
    font-size: 0.75em;
    margin-right: 0.25rem;
    margin-top: -0.2em;
    opacity: 0.8;
}

.clock-panel .clock-entry .clock {
    cursor: pointer;
    width: 44px;
    height: 44px;

    --spoke-width: 2px;

    align-self: center;
    aspect-ratio: 1 / 1;

    --filled-ratio: calc(var(--filled) / var(--areas) * 1turn);
    background: conic-gradient(var(--clock-color) var(--filled-ratio), var(--background) var(--filled-ratio) 1turn);
    border-radius: 50%;
    border: black var(--spoke-width) solid;

    position: relative;
}

.clock-panel .clock-entry .clock .spoke {
    width: var(--spoke-width);

    /* Make the spokes slightly larger than the inner radius so they overlay half the outer border, preventing subpixel gaps */
    height: calc(50% + .5 * var(--spoke-width));

    top: calc(-.5 * var(--spoke-width));
    right: calc(50% - var(--spoke-width) / 2);

    background: black;
    position: absolute;

    transform-origin: center bottom;
    transform: rotate(calc((var(--index) * 1turn) / var(--areas)));
}

.clock-panel .clock-entry.hidden, .clock-panel .clock-list.hidden {
    display: none;
}